<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mov</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="action">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Action
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adventure">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Adventure
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="animation">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Animation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comedy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Comedy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crime">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Crime
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="documentary">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Documentary
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drama">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Drama
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="family">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Family
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fantasy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Fantasy
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="historical">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Historical
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="horror">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Horror
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mystery">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mystery
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="romance">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Romance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sci-fi">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Science Fiction (Sci-Fi)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="thriller">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Thriller
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="war">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> War
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="western">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Western
            </NavLink>
        </div>
    </nav>
</div>

@code{
    private string txtsearch { get; set; } = string.Empty;
}